spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: scott
    password: tiger

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: none  # (none / update / create 옵션)
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  server:
    port: 8080
